@import '../../sass/variables.scss';

.navbar-minifinch {
  background: $darkgrey;
}

.navbar-brand {
  color: $white;
}

.nav {
  li {
    a {
      color: $white;
    }
  }
}

.navbar-toggle .icon-bar {
  color: $lightgrey;
}